<div class="container-fluid ">

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-light">Seguimiento Spark</h1>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class=" text-center w-100 border border-2 rounded table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">idconversacion</th>
            <th scope="col">remitente</th>
            <th scope="col">destinatario</th>
            <th scope="col">horaapertura</th>
            <th scope="col">tiempoultmensaje</th>
            <th scope="col">tiempoconversacion</th>
            <th scope="col">horacierre</th>
          </tr>
        </thead>
        <tbody *ngFor="let dato of datos">


          <tr>

            <td> {{dato.idconversacion}} </td>
            <td> {{dato.remitente}} </td>
            <td> {{dato.destinatario}} </td>
            <td> {{dato.horaapertura}} </td>
            <td> {{dato.tiempoultmensaje}} </td>
            <td> {{dato.tiempoconversacion}} </td>
            <td> {{dato.horacierre}} </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>